html, body, .hero-section, .hero-section .embla, .hero-section .embla__container, .hero-section .embla__slide { 
  height: 100%; 
}

.hero-section *{
  user-select: none;
}

.hero-section { 
  padding: 0; 
  margin: 0; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-section .embla { 
  position: relative; 
  overflow: hidden; 
  width: 100vw; 
  height: 100vh; 
}
.hero-section .embla__container { 
  display: flex; 
  height: 100%; 
}

.hero-section .embla__slide { 
  position: relative; 
  flex: 0 0 100%; 
  height: 100%; 
}
.hero-section .embla__img{ 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  display: block; 
}

.hero-section .overlay { 
  position: absolute; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  top: 0;
  color: #fff; 
  padding: 24px; 
  gap: 10px;
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.55) 60%, rgba(0,0,0,.85) 100%); 
  background-color: rgba(0, 0, 0, 0.35);
}
.hero-section .overlay h3 { 
  margin: 0; 
  font-size: clamp(1rem, 2.2vw, 1.8rem); 
  text-transform: uppercase;
}

.hero-section .overlay h3 { 
  margin: 0; 
  font-size: clamp(1rem, 2.2vw, 1.8rem); 
  text-transform: uppercase;
}

.hero-section .overlay p { 
  margin: 0; 
  opacity: .75;
  font-size: clamp(0.875rem, 1.8vw, 1.2rem); 
  text-align: center;
  max-width: 50vw;
}

.hero-section .cta { 
  color: #fff; 
  opacity: .9; 
  text-decoration: none; 
  font-weight: 600; 
  background-color: var(--accent);
  padding: 10px 30px;
  border-radius: 5px;
  transition: 0.3s ease;
}
.hero-section .cta:hover { 
  text-decoration: underline; 
}

.hero-section .navigators { 
  position: absolute; 
  z-index: 99999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.hero-section .navig { 
  top: 50%; 
  z-index: 2; 
  width: 48px; 
  height: 48px; 
  border: none; 
  border-radius: 10px; 
  background: var(--accent);
  color: #fff; 
  font-size: 22px; 
  cursor: pointer; 
  display: grid; 
  place-items: center; 
}

.hero-section .navigators p{
  transform: translateY(-10%);
}

.hero-section .navig i{
  color: rgba(255, 255, 255, 0.75);
}

.hero-section .dots { 
  position: absolute; 
  bottom: 20px; 
  width: 100%; 
  display: flex; 
  gap: 8px; 
  justify-content: center; 
}
.hero-section .dot { 
  width: 8px; 
  height: 8px; 
  border-radius: 999px; 
  border: none; 
  background: #cfd8e3; 
  cursor: pointer; 
  transition: all .3s ease; 
}
.hero-section .dot.active { 
  background: var(--accent);
  width: 18px; 
}