.footer-section{
  background: #0b0c0f;
  padding: 20px 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 200px;
}

.footer-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
  max-width: fit-content;
}

.footer-text {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  text-decoration: underline;
}

.footer-logo {
  max-width: 200px;
  height: auto;
}

#footer-icon {
  color: #fff;
  font-size: 30px;
  border-bottom: rgba(255, 255, 255, 0.25) solid 2px;
  padding: 20px 0px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

@media (max-width: 1024px) {
  .footer-section{
    padding: 20px 40px;
  }
  
}

@media (max-width: 700px) {
  .footer-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
  }

  .footer-container {
    min-width: 100%;
  }

  .footer-logo {
    max-width: 150px;
    height: auto;
  }

  #footer-icon {
    font-size: 25px;
  }

  .footer-text {
    font-size: 15px;
  }

}