.aboutus-section {
  padding: 30px 0px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #0f1115;
  gap: 25px;
}

.container:nth-child(1) {
  max-width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container:nth-child(2) {
  flex-direction: row;
  gap: 20px;
  display: flex;
  max-width: 40vw;
}

.au_image{
  width: 400px;
  aspect-ratio: 9 / 13;
  object-fit: cover;
}

h1{
  color: white;
  text-align: left;
  margin-bottom: 0px;
  color: #fff;
  text-transform: uppercase;
}

h2{
  color: white;
}

p{
  color: rgba(255, 255, 255, 0.75);
}

.subtitle {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  background-color: rgb(175, 34, 34);
  padding: 10px 15px;
}

.aboutus-button{
  background-color: rgb(189, 35, 35);
  color: white;
  padding: 10px 50px;
  cursor: pointer;
  border-radius: 5px;
  max-width: fit-content;
  text-transform: uppercase;
}
