.footer-section{
  background: #0b0c0f;
  padding: 20px 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 200px;
}

@media (max-width: 1024px) {
  .footer-section{
    padding: 20px 40px;
  }
  
}

@media (max-width: 700px) {
  .footer-section{
    flex-direction: column;
    padding: 20px 40px;
    gap: 20px;
  }

  .footer-container {
    min-width: 100%;
  }
}

.footer-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
  max-width: fit-content;
}

.footer-text {
  color: #fff;
  text-align: center;
}

.footer-logo {
  max-width: 200px;
  height: auto;
}

#footer-icon {
  color: #fff;
  font-size: 30px;
  border-bottom: rgba(255, 255, 255, 0.25) solid 2px;
  padding: 20px 0px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}